.nav {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    backdrop-filter: blur(10px);
    height: 50px;
}

.button {
    border: 3px rgb(31, 31, 31);
    border-radius: 5px;
    background-color: gray;
}
.button:hover {
    background-color: rgba(200, 200, 200, 0.468);
    color:  rgb(255, 255, 255);
}